@import 'styles/components/color';

.nav_wrap{
    background: $Base_wf;
    padding: 8px 16px;

    .nav_tab{
        display: grid; align-items: center; grid-template-columns: repeat(5, 1fr); gap: 8px;
    }
    .nav_tab_con{
        display: grid; align-items: center; justify-content: center; gap: 4px;
        text-align: center;
        cursor: pointer;

        .con{
            color: $Gray900;

            .nav_icon{
                width: 24px;
                fill: $Gray900;
            }
            
            .nav_name{
                font-size: 16px;
            }
        }
        .con.active{
            color: $Primary500;

            .nav_icon{
                fill: $Primary500;
            }
        }
        
    }
    
}

.testicon{
    color: #000;
}