@import '../colors.scss';

// button common
.btn_common{
    display: inline-flex; align-items: center; gap: 6rem;
    border-radius: 8rem;
}
a.btn_common{
    display: inline-flex;
}

.btn_tit{
    font-size: 14rem;
    font-weight: 500;
}

// prim button
.prim_btn{
    // buttons size
    &.L{
        height: 48rem;
        padding: 0 24rem;
    }
    &.M{
        height: 40rem;
        padding: 0 20rem;
    }
    &.S{
        height: 32rem;
        padding: 0 16rem;
    }

    &.round_btn{
        border-radius: 90px;
    }

    &.primary{
        background: $Green500;
        color: $Gray100;

        .btn_icon{
            fill: $Gray100;
        }
    }
    &.secondary{
        border: 1px solid;
        border-color: $Gray400;
        color: $Gray900;

        .btn_icon{
            fill: $Gray900;
        }
    }
    &.glass{
        background: $Tp_w16;
        color: $Gray100;

        .btn_icon{
            fill: $Gray100;
        }
    }
}

// text button
.txt_btn{
    // buttons size
    &.L{
        height: 48rem;
        padding: 0 16rem;
    }
    &.M{
        height: 32rem;
        padding: 0 16rem;
    }
    &.S{
        height: 24rem;
        padding: 0 4rem;
    }
    &.XS{
        height: 24rem;
        padding: 0 4rem;
        font-size: 14rem;
    }

    &.tertiary{
        color: $Green500;
        .btn_icon{
            fill: $Gray100;
        }
    }
    &.quaternary{
        color: $Gray900;
        .btn_icon{
            fill: $Gray900;
        }
    }
    &.gray{
        color: $Gray600;
        .btn_icon{
            fill: $Gray600;
        }
    }
}

// icon button
.icon_btn{
    border-radius: 50%;
    justify-content: center;

    // buttons size
    &.L{
        width: 48rem;
        height: 48rem;
    }
    &.M{
        width: 40rem;
        height: 40rem;
    }
    &.S{
        width: 32rem;
        height: 32rem;
    }

    &.primary{
        background: $Green500;

        .btn_icon{
            fill: $Gray100;
        }
    }
    &.secondary{
        border: 1px solid;
        border-color: $Tp_w24;
        color: $Gray900;

        .btn_icon{
            fill: $Gray900;
        }
    }
    &.tertiary{
        .btn_icon{
            fill: $Green500;
        }
    }
    &.quaternary{
        .btn_icon{
            fill: $Gray900;
        }
    }
}
