.diary_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.diary_head{
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .today{
        padding-left: 16rem;
    }

    .btn_box{
        display: flex;
        align-items: center;
    }
}