@import '../colors.scss';

.chip{
    display: inline-flex;
    align-items: center;
    gap: 3rem;
    padding: 6rem 8rem;
    border: 1px solid $Gray400;
    border-radius: 50px;
    cursor: pointer;

    input[type="radio"]{
        display: none;
    }
    .icon{
        width: 20rem;
    }
    .txt{
        font-size: 12rem;
        color: $Gray900;
        line-height: 15.6rem;
    }
}