// base
$base-wf: #ffffff;
$base-bkf: #000000;

// Tp White
$Tp_wf: #FFFFFF;
$Tp_w40: #E1F0FF40;
$Tp_w32: #E1F0FF32;
$Tp_w24: #E1F0FF24;
$Tp_w16: #E1F0FF16;
$Tp_w8: #E1F0FF08;

// Tp Black
$Tp_bkf: #000000;
$Tp_bk85: #26374785;
$Tp_bk40: #26374740;
$Tp_bk32: #26374732;
$Tp_bk24: #26374724;
$Tp_bk16: #26374716;
$Tp_bk8: #26374708;

// Gray
$Gray950: #212529;
$Gray900: #343A40;
$Gray800: #495057;
$Gray700: #666E75;
$Gray600: #ADB5BD;
$Gray500: #CED4DA;
$Gray400: #DEE2E6;
$Gray300: #E9ECEF;
$Gray200: #F1F3F5;
$Gray100: #F8F9FA;

// Green
$Green700: #16684F;
$Green600: #1A7B5E;
$Green500: #219A75;
$Green400: #26B388;
$Green300: #5DD0AD;
$Green88: #26B38888;
$Green80: #26B38880;
$Green72: #26B38872;
$Green64: #26B38864;
$Green56: #26B38856;
$Green48: #26B38848;
$Green32: #26B38832;
$Green24: #26B38824;
$Green16: #26B38816;
$Green8: #26B38808;

// semantic
$Semantic: #FE3D3D;

// .example{
//   background: $Green24;
//   color: $Gray800;
// }